@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure Deployents - Deployed using FTP Profiles</h1>
    <p>Sampple app for testing azure deploymehts.</p>
</div>
